<form class="custom-form">

  <h4 class="text-center">
    <img width="200" src="https://deadv.uta.edu.ec/images/2017/componentes/logo2020.png">
  </h4>

  <input
    type="text"
    placeholder="Usuario"
    formControlName="usuario"
  />

  <input
    type="password"
    placeholder="Contraseña"
    formControlName="contrasena"
  />

  <button type="submit">Entrar</button>

  <button type="button" class="btn btn-secondary" (click)="loginMicrosoft()">
    <img src="https://www.microsoft.com/favicon.ico" width="20">
    Microsoft Office 365
  </button>

</form>
