
<body class="sb-nav-fixed">
        <div id="layoutSidenav">
        <div id="layoutSidenav_content">

          <main _ngcontent-rrl-c51>
            <br>
                    <h1 _ngcontent-rrl-c51="" class="mt-4"></h1>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-25">
                                    <div class="card shadow-lg border-0 rounded-lg mt-10">
                                        <div class="card-header"><h3 class="text-center font-weight-light my-6">Registro de Usuarios</h3></div>
                                        <div class="card-body">
                                            <form>
                                                <div class="d-flex align-items-center mt-4 mb-0">
                                                    <h6 class="text-center font-weight-light my-6"><b>Tipo de documento:</b></h6>&nbsp;
                                                        <select id="cbx_tipodoc" name="account" class="col-sm-4 form-control" #mySelect (change)="tipodocumento(mySelect.value)">
                                                                <option value="Seleccionar">Seleccionar</option>
                                                                <option value="Cedula">Cédula</option>
                                                                <option value="Pasaporte">Pasaporte</option>
                                                            </select>

                                                </div>
                                                 <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                  <input *ngIf="this.tipodocu== 'Seleccionar'" class="form-control"  id="txt_cedula" type="text" placeholder="Identificación" (input)="checkCedula($event) "/>
                                                    <input *ngIf="this.tipodocu== 'Cedula'"  class="form-control"  id="txt_cedula" type="text" placeholder="Identificación"  (focusout)="onFocusOutEvent($event)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0 || event.charCode == 46"/>
                                                    <input *ngIf="this.tipodocu== 'Pasaporte'" class="form-control"  id="txt_cedula" type="text" placeholder="Identificación"  (focusout)="onFocusOutEvent($event)"/>
                                                    &nbsp;&nbsp;&nbsp;
                                                        <select id="cbx_Rol" name="account" class="form-control" #mySelectusu (change)="tipousuario(mySelectusu.value)">
                                                            <option value="">Seleccionar</option>
                                                            <option *ngFor="let rol of roles" [value]="rol.rolid+'-'+rol.rolnombre">{{rol.rolnombre}}
                                                                </option>
                                                        </select>
                                                </div>
                                                <div class="d-flex align-items-center mt-3 mb-0">
                                                    <input class="form-control" id="txt_nombres" type="text" placeholder="Nombres" oninput="javascript:this.value=this.value.toUpperCase();" (input)="validarNombre($event)"/>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txt_apellidos" type="text" placeholder="Apellidos" oninput="javascript:this.value=this.value.toUpperCase();" (input)="validarApellido($event)"/>

                                                </div>
                                                <div class="d-flex align-items-center mt-3 mb-0">
                                                    <input class="form-control" id="txt_telefono" type="text" placeholder="Teléfono" maxlength="10" (input)="validarTelefono($event)"  />
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txt_correoins" type="text" placeholder="Correo institucional" oninput="javascript:this.value=this.value.toLowerCase();" (change)="checkCorreo()" />

                                                </div>
                                                <div class="d-flex align-items-center mt-3 mb-0">
                                                    <input class="form-control" id="txt_usu" type="text" placeholder="Usuario" />
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input class="form-control" id="txt_contrase" type="text" placeholder="Contraseña" />

                                                </div>
                                                <div class="d-flex align-items-right justify-content-between mt-4 mb-0">
                                                    <a></a>
                                                    <a class="btn btn-primary" data-dismiss="modal" (click)="GuardarUsuario()" >Guardar</a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer text-center py-3">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


          </main>

        </div>
        </div>


        </body>

    <script></script>
